<a href="https://colab.research.google.com/github/priya-saw-1999/letsupgrade-python-b7/blob/master/Day3assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 1

 You all are pilots,you have to land a plane,the altitude required for landing a plane is 1000ft,if it is less than that,tell pilot to land the plane or if it is more than that but less than 5000ft ask the pilot to come down to 1000ft,else if it is more than 5000 ft ask tha pilot to 'go around and try later'.

In [14]:
 
num = input("ENTER THE ALTITUDE IN ft")
num = int(num) 
 
 x = num
if 5000 > x > 1000:
    print("Bring down to 1000ft")
elif x <= 1000:
    print("safe to land")
else:
    print("turn around")

ENTER THE ALTITUDE IN ft7000
turn around

ASSIGNMENT 2

Using 'for loop' ,print all the prime numbers between 1 to 200 using for loop' and range function.

In [63]:
 for n in range (1, 200):
    count = 0
    for i in range(2, (n//2 + 1)):
        if(n % i == 0):
            count = count + 1
            break
 
    if (count == 0 & n != 1):
        print("%d" %n )

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199